# {{ ansible_managed }}
DATABASE_BASE_IMAGE={{ shinobi_docker_database_base_image }}
MYSQL_USER_NAME={{ shinobi_database_root_password }}
MYSQL_USER_PASSWORD={{ shinobi_database_user_name }}
MYSQL_ROOT_PASSWORD={{ shinobi_database_user_password }}
SHINOBI_DATA_LOCATION={{ shinobi_data_directory }}
SHINOBI_SUPER_USER_EMAIL={{ shinobi_super_user_email }}
SHINOBI_SUPER_USER_PASSWORD={{ shinobi_super_user_password }}
SHINOBI_SUPER_USER_TOKEN={{ shinobi_super_user_token }}
SHINOBI_VIDEO_LOCATION={{ shinobi_video_directory }}
SHINOBI_BASE_IMAGE={{ shinobi_docker_shinobi_base_image }}
SHINOBI_REPOSITORY_URL={{ shinobi_source.repository | default(None) }}
SHINOBI_REPOSITORY_BRANCH={{ shinobi_source.branch | default(None) }}
SHINOBI_HOST_PORT={{ shinobi_host_port }}
